<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DragonMound - by SharkJets</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="TemplateData/UnityProgress.js"></script>
    <script src="/Build/UnityLoader.js"></script>
    <script src="js/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <script src="js/bignumber.js"></script>
    <script src="js/DragonMoundAbi.js" type="application/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "/Build/dragonMound-web.json", {onProgress: UnityProgress});
      //let unityInstance = new UnityContent('/UnityBuild/Build/Build.json','/UnityBuild/Build/UnityLoader.js');
    </script>

    <style type="text/css">
      body{
        color: white;
      }

      li{
        padding:5px !important;
        list-style-type: none;
      }

      #unityContainer{
        margin:auto !important;
      }
    </style>
  </head>
  <body style="background-color: black; color: white;">
    <div id="app">
      <div v-if="!hasWallet">
        <h1><a style="color:darkorange" href="https://metamask.io/">MetaMask</a> is required to play this game.</h1>
        <h2>You must also be on the <a style="color: #8247e5;" href="https://docs.polygon.technology/docs/develop/metamask/config-polygon-on-metamask/">polygon</a> network.</h2>
      </div>
      <div class="container" v-if="hasWallet">
        <div class="row">
          <div class="col">
            <h4>How To Play:</h4>
            <ul>
              <li>You are a dragon.</li>
              <li>Don't run out of health or gold.</li>
              <li>Kill the 5 baddies. Collect an NFT.</li>
            </ul>
          </div>
          <div class="col" style="text-align: center;">
            <h1>DragonMound.com <br />by <a class="btn btn-outline-primary" href="https://www.youtube.com/c/SharkJets/videos">SharkJets</a></h1>
          </div>
          <div class="col">            
            <ul>
              <li><span class="btn btn-danger">Attack the enemy</span> - costs 1 gold.</li>
              <li><span class="btn btn-success">Heal yourself</span> - costs 2 gold.</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <div id="unityContainer" style="width: 960px; height: 600px; margin: auto;"></div>        
            <div class="footer">
              <div v-if="mintId != 0" style="margin:auto; padding: 2px;"><a class="btn btn-primary" v-bind:href="'https://opensea.io/assets/' + contract + '/' + mintId">View your NFT on OpenSea!</a></div>          
            </div>
          </div>
        </div>      
      </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
