<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DragonMound - by SharkJets</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="TemplateData/UnityProgress.js"></script>
    <script src="Build/UnityLoader.js"></script>
    <script src="js/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <script src="js/bignumber.js"></script>
    <script src="js/DragonMoundAbi.js" type="application/javascript"></script>
    
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "Build/dragonMound-web.json", {onProgress: UnityProgress});
    </script>

    <style type="text/css">
      body{
        color: white;
      }
    </style>
  </head>
  <body style="background-color: black;">
    <div id="app">
      <div v-if="!hasWallet">
        <h1>You need <a href="https://metamask.io/">MetaMask</a> for this.</h1>
      </div>
      <div class="webgl-content" v-if="hasWallet">
        <div id="unityContainer" style="width: 960px; height: 600px"></div>        
        <div class="footer">
          <div v-if="mintId == 0" class="webgl-logo"></div>
          <div v-if="mintId != 0" style="float: left;"><a style="color: white;" v-bind:href="'https://opensea.io/assets/' + contract + '/' + mintId">View your NFT on OpenSea!</a></div>
          <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
          <div class="title">DragonMound</div>
        </div>
      </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
